<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifier</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body class="display">
    <div class="container scroll">
        <form action = "/proof_request" method = "GET">
            <span id="wrapper">
                <a href="/" target="_self"  class="button">Home</a>
                <div class="bhome"></div>  
        <div class="brand-logo">
            <div class="logo">
                <img src="https://www.bob.bt/wp-content/themes/bob/images/logo.svg">
            </div>
        </div>
        <!-- <div class="brand-title">Bhutan Power Coperation Co.</div> -->
            <div class="inputs">
                    <div class="form-group">
                        <label for="proofresquest">Proof Request Name</label>
                        <input type="text" id="proofresquest" name="proofresquest" class="form-control" required placeholder="Issuer Name">
                    </div> 
                    <div class="form-group">
                      <label for="relationshipdid">Relationship DID</label>
                      <input type="text" class="form-control" id="relationshipdid" name="relationshipdid" required placeholder="Paste publicly available logo url or upload">
                   </div>
                    <div class="form-group">
                      <label for="proofattributes">Proof Attributes</label>
                      <input type="text" class="form-control" id="proofattributes" name="proofattributes" required placeholder="Paste publicly available logo url or upload">
                   </div>
                    
                   <button type="submit" class="btn btn-secondary proofbut">Submit</button>
                </div>
        </form>
    </div>
</body>
</html>